<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="serviceGroup">
      <section name="refererConfig" type="TheService.Extension.ConfigFactory.ReferersHandler,  TheService.Extension"/>
      <section name="serviceConfig" type="TheService.Extension.ConfigFactory.ServicesHandler,  TheService.Extension"/>
      <section name="classConfig" type="TheService.Extension.ConfigFactory.ClasssHandler,  TheService.Extension"/>
    </sectionGroup>
  </configSections>
  <!-- 以下是自定义配置的内容 -->
  <serviceGroup>
    <refererConfig>
      <referers>
        <referer id="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib">
          <address address="net.tcp://localhost:10001/helloService" binding="nettcp" security="0"/>
          <address address="net.tcp://localhost:10002/helloService" binding="nettcp" security="0"/>
        </referer>
      </referers>
    </refererConfig>
    <serviceConfig>
      <services>
        <service ref="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib" binding="nettcp" security="0" address="net.tcp://localhost:10001/helloService" enable="true"/>
        <service ref="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib" binding="nettcp" security="0" address="net.tcp://localhost:10002/helloService" enable="true"/>
      </services>
    </serviceConfig>
    <classConfig>
      <classs>
        <class id="helloService" type="ServiceTestLib.HelloService" assembly="ServiceTestLib"/>
      </classs>
    </classConfig>
  </serviceGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
