<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="serviceGroup">
      <section name="refererConfig" type="SharpService.Configuration.RefererConfigurationHandler,  SharpService"/>
      <section name="serviceConfig" type="SharpService.Configuration.ServiceConfigurationHandler,  SharpService"/>
      <section name="classConfig" type="SharpService.Configuration.ClassConfigurationHandler,  SharpService"/>
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <serviceGroup>
    <refererConfig>
      <referers>
        <referer id="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib">
          <address address="net.tcp://localhost:10001/helloService" binding="nettcp" security="0"/>
        </referer>
      </referers>
    </refererConfig>
    <serviceConfig>
      <services>
        <service ref="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib" binding="nettcp" security="0" address="net.tcp://localhost:10001/helloService" enable="true"/>
        <service ref="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib" binding="nettcp" security="0" address="net.tcp://localhost:10002/helloService" enable="true"/>
      </services>
    </serviceConfig>
    <classConfig>
      <classs>
        <class id="helloService" type="ServiceTestLib.HelloService" assembly="ServiceTestLib"/>
      </classs>
    </classConfig>
  </serviceGroup>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
</startup>
<exceptionless apiKey="API_KEY_HERE" />
</configuration>
