<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="serviceGroup">
      <section name="refererConfig" type="SharpService.Configuration.RefererConfigurationHandler,  SharpService" />
      <section name="serviceConfig" type="SharpService.Configuration.ServiceConfigurationHandler,  SharpService" />
      <section name="classConfig" type="SharpService.Configuration.ClassConfigurationHandler,  SharpService" />
      <section name="registryConfig" type="SharpService.Configuration.RegistryConfigurationHandler,  SharpService" />
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <serviceGroup>
    <refererConfig>
        <referer id="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib">
          <address address="net.tcp://localhost:10001/helloService" binding="nettcp" security="0" />
        </referer>
    </refererConfig>
    <serviceConfig>
        <service ref="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib" binding="nettcp" security="0" export="helloService:10001" version="1.0.0" enable="true" />
        <service ref="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib" binding="nettcp" security="0" export="helloService:10002" version="1.0.0" enable="true" />
    </serviceConfig>
    <classConfig>
        <class id="helloService" type="ServiceTestLib.HelloService" assembly="ServiceTestLib" />
    </classConfig>
    <registryConfig>
      <registry regprotocol="local" name="registrylocal" />
      <!--<registry  regprotocol="zookeeper" name="registryzookeeper"  address="127.0.0.1:2181" connectTimeout="2000"/>-->
      <!--<registry  regprotocol="consul" name="registryconsul"  address="127.0.0.1:2181" connectTimeout="2000"/>-->
    </registryConfig>
  </serviceGroup>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
</startup>
<exceptionless apiKey="API_KEY_HERE" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
