<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="serviceGroup">
      <section name="consumerConfig" type="TheService.Extension.ConfigFactory.ConsumersHandler,  TheService.Extension" />
      <section name="serviceConfig" type="TheService.Extension.ConfigFactory.ServicesHandler,  TheService.Extension" />
      <section name="referenceConfig" type="TheService.Extension.ConfigFactory.ReferencesHandler,  TheService.Extension" />
    </sectionGroup>
  </configSections>
  <!-- 以下是自定义配置的内容 -->
  <serviceGroup>
    <consumerConfig>
      <consumers>
        <consumer id="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib" binding="nettcp" security="0" >
          <address address="net.tcp://localhost:10001/helloService" />
          <address address="net.tcp://localhost:10002/helloService" />
        </consumer>
      </consumers>
    </consumerConfig>
    <serviceConfig>
      <services>
        <service ref="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib" binding="nettcp" security="0" address="net.tcp://localhost:10001/helloService" enable="true" />
        <service ref="helloService" interface="ServiceTestLib.IHelloService" assembly="ServiceTestLib" binding="nettcp" security="0" address="net.tcp://localhost:10002/helloService" enable="true" />
      </services>
    </serviceConfig>
    <referenceConfig>
      <references>
        <reference id="helloService" type="ServiceTestLib.HelloService" assembly="ServiceTestLib" />
      </references>
    </referenceConfig>
  </serviceGroup>
</configuration>